body {
    background-image: url(back.avif);
    text-align: center;
    background-size: cover;
    background-repeat: repeat-y;
 }


 main {
    width: 90%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: white;
 }
